<!-- Blogs page html -->

{% extends "pages/index.html" %} {% block content %}
<div style="text-align: center;">
  <h1
    style="
      color: rgb(78, 78, 78);
      margin-left: 18px;
      margin-right: 18px;
      margin-top: 100px;
      font-family: Arial, Helvetica, sans-serif;
    "
  >
    {{blogPageHeading.entries[0].blog_page_heading}}
  </h1>
  <br /><br />
  {% for blogdetails in blog.entries %}
  <div style="text-align: center;">
    <div class="flex-container" style="text-align: center;">
      <div
        style="
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-start;
          text-align: center;
        "
      >
        <div style="height: 200px;">
          <amp-img width="300px" height="180px" src="{{blogdetails.image.url}}">
          </amp-img>
        </div>
        <div
          class="blogList"
          style="width: 400px; text-align: justify; margin-left: 35px;"
        >
          <a
            style="text-decoration: none; color: #5b6167;"
            href="/blog{{blogdetails.url}}"
          >
            <h2
              style="
                cursor: pointer;
                color: rgb(70, 67, 67);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.7em;
                margin-top: 1px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 12px;
              "
            >
              {{blogdetails.heading}}
            </h2>
          </a>
          <p
            style="
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            "
          >
            {{blogdetails.body}}
          </p>
          <a
            style="text-decoration: none; color: rgb(24, 24, 194);"
            href="/blog{{blogdetails.url}}"
            >See More..</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}
<br /><br />
{% endblock %}
