<!-- Header/nav bar -->

<!-- Here the variable header is fed into template which consist the data fetched from contentstack -->

<header class="header" style="top: 0px;">
  <a href="/"
    ><amp-img
      src="{{header.entries[0].logo.color_image.url}}"
      height="60px"
      width="181px"
      style="
        margin-top: 5px;
        margin-left: 10px;
        border-bottom-width: 5px;
        margin-bottom: 5px;
        float: left;
      "
    ></amp-img
  ></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu" style="float: left;">
    {% for menu in header.entries[0].navigation_section.navigation_bar %}
    <li><a href="{{menu.link}}">{{menu.title}}</a></li>
    {% endfor %}
  </ul>
</header>
